/* 
    naranja:	#F58233 
    azul:	#006CB7
*/
.listadoari {
    margin: 40px 0px 40px 0px;
}
.listadoari table {
    min-width: 10%;
}

th {
    font-weight: normal;
    color: #006CB7;
}
.listadoari td, .listadoari th {
    white-space: nowrap;
}
.listadoari .logo {
    width: 150px;
}


.listadoari div {
    margin-bottom: 20px;
}

.listadoari th {
    font-weight: normal;
    color: #006CB7;
}


.right {
    text-align: right;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}


.input {
    /*background-color: #FFFFe0;*/
    display: inline-block;
    width: 100%;
}


.listadoari label {
    font-weight: normal;
    
}


.listadoari .disabled {
    background-color: #e5e5e5;    
}
.large {
    width: 100%;
}

.normal {
    color: #000;
}
.listadoari .separador {
    border-top: 1px dashed #ccc;
    margin-top: 30px;
}

.listadoari .hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
}
.listadoari .checkbox {
    width: 20px;
    height: 20px;    
}
.listadoari input {
    float: right;
}
.listadoari td {
    padding: 5px;
}

.listadoari .info {
    font-size: 10px;
}
.listadoari .input-btn {
    height:45px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.33;
    border-radius:6px
}