/* 
    naranja:	#FF7800 
    azul:	#0043D4
*/

#user-form {
    margin: 20px 0px 20px 0px;
}
#user-form td {
    padding: 5px;
}
.hidden-control {
    visibility: hidden;
    position: absolute;
}
#picture {
    width: 120px;
}

