/* 
    naranja:	#FF7800 
    azul:	#0043D4
*/
.contact-content {
    
}
.usuario {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px dashed #cccccc;
    padding: 10px;    
}
.usuario div {
    margin-bottom: 10px;
}
.usuario b {
    font-weight: normal;   
    margin-right: 5px;
}
.usuario span {
}
.usuario-username {
    font-size: 20px;
    color: #FF7800;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #cccccc;
}
.usuario-form, .usuario-form  td {
    padding: 0;
    margin: 0;
    text-align: left;
}
.usuario-form  td {
    padding-right: 5px;
}
.usuario-form input, .usuario-form button {
    margin: 0;
}
.usuario-code {
    text-transform: uppercase;
}
.usuario label, .usuario-list label {
    font-weight: normal;
    font-style: italic;
    color: #aaaaaa;
}
.contact-grid {
    width: auto;
}
.contact-list {
    width: 800px;
}
.contact-list .usuario-list {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px dashed #cccccc;
    padding: 5px;
    float: left;
    margin-right: 10px;
}
.contact-list .usuario-list {
    font-size: 12px;
}
.buttons {
    margin: 10px 0px 10px 0px;
}
.buttons a {
    margin-right: 10px;
}
.contact-list div {
    font-size: 12px;
}
.contact-list .usuario-username {
    font-size: 14px;
    margin: 0;
    padding: 0;
    border: none;
}
.btn-back {
    clear: both;
}
.usuario {
    background: #ffffff;    
}
.featherlight-content .usuario {
    padding: 30px;
}

.usuario-code {
    color: #FF7800;
}

.usuarios div {
    text-transform: uppercase;
    font-size: 10px;
    padding: 1px;
    display: block;
    margin: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    width: 70px;
    float: left;    
    padding: 5px;
    height: 120px;
    background-color: #ddd;
}

.usuarios div span {
    font-size: 9px;  
    display: block;
    text-align: center;
}

.usuarios div img {        
    width: 60px;
    margin-bottom: 5px;
}
.total {
    display: block;
    float: none;
}