#header {
    margin-bottom: 20px; 
    white-space: nowrap;
    margin-right: 10px;
}
.currentDate {
    font-size: 12px;
    color: #999999;
}
.header-logout {
    font-size: 13px;     
    /*color: #C00000;  */
    color: #333333;
}
h3 img {
    width: 20px;    
}
