div.content-wrapper {	
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin: 0;  
    padding: 60px;
    background-color: white;
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.3);*/
}

#search {
    display: none;
}
#search-input {
    width: 229px;
}