#details.list td:nth-child(1), 
#details.list td:nth-child(2), 
#details.list td:nth-child(5) {
    text-align: center;
}
#details.list td:nth-child(6), 
#details.list td:nth-child(7) {
    text-align: right;
}

#daily.list td:nth-child(3), 
#daily.list th:nth-child(3),
#articles.list td:nth-child(2), 
#articles.list th:nth-child(2), 
#turns.list td:nth-child(2), 
#turns.list th:nth-child(2) {
    text-align: center;
}

#daily.list td:nth-child(3), 
#daily.list th:nth-child(3), 
#daily.list td:nth-child(4), 
#daily.list th:nth-child(4), 
#articles.list td:nth-child(3), 
#articles.list th:nth-child(3), 
#turns.list td:nth-child(3), 
#turns.list th:nth-child(3) {
    text-align: right;
}

#turns-chart-1 {
    diplay: block;
    float: none;
    clear: none;
}

.chart {
    width: 100%;
}

.chart div {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
}

.params {
    min-width: 500px;
}
.table td, .table th {
    white-space: nowrap;
    text-transform: uppercase;
}
html * .numero {
    text-align: right;
}

.total-label .total {
    color: #F58233;    
}
.total-label {
    font-size: 16px;
    margin-top: 10px;
}