#banner {
    margin-bottom: 30px;
    overflow: hidden;
    /*border: 2px solid #000000;  */
    /*box-shadow: 0px 0px 10px rgba(0,0,0,0.3);*/
    width: 400px;
    height: 250px; 
}

#banner img {
    position: absolute;
    width: 400px;
}