#search {
    padding: 0;
    margin: 0;
    width: 300px;      
}
#search form, #search input, #search button {
    margin: 0;    
} 
#search form, #search table, #search td {
    padding: 0;    
}
#search td {
    padding-right: 5px;
}

