/* 
    naranja:	#F58233 
    azul:	#006CB7
*/
.registro {
    margin: 40px 0px 40px 0px;
}
.registro table {
    min-width: 10%;
}

th {
    font-weight: normal;
    color: #006CB7;
}
.registro td, .registro th {
    white-space: nowrap;
}
.registro .logo {
    width: 150px;
}


.registro div {
    margin-bottom: 20px;
}

.registro th {
    font-weight: normal;
    color: #006CB7;
}


.right {
    text-align: right;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}


.input {
    /*background-color: #FFFFe0;*/
    display: inline-block;
    width: 100%;
}


.registro label {
    font-weight: normal;
    
}


.registro .disabled {
    background-color: #e5e5e5;    
}
.large {
    width: 100%;
}

.normal {
    color: #000;
}
.registro .separador {
    border-top: 1px dashed #ccc;
    margin-top: 30px;
}

.registro .hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
}
.registro .checkbox {
    width: 20px;
    height: 20px;    
}
.registro input {
    float: right;
}
.registro td {
    padding: 5px;
}

.registro .info {
    font-size: 10px;
}

