.nombre {
    color: #666;
}
.parentezco {
    color: #999;
    text-align: center;
}
.fecha {
    color: #999;
    text-align: center;
}
.cedula {
    color: #999;
    text-align: center;
}
.genero {
    color: #999;
    text-align: center;
}
.tipo {
    color: #999;    
}
.concepto {
    text-align: center; 
}
.table td, .table th {
    white-space: nowrap;
    text-transform: capitalize;
}