.dias {
    color: #F58233;
}
.table {
   text-align: center;
}
.concepto {
    white-space: nowrap;
    text-align: left;
}
.table th {
    text-align: center;
    vertical-align: bottom;
}
.table .activo {
    color: #006CB7;
}
.info {
    font-size: 16px;
}