.vacaciones-periodos th, .vacaciones-periodos td, 
.vacaciones-planes th, .vacaciones-planes td 
{
    text-align: center;
    padding: 2px;
}
.vacaciones-calendario {
    width: 650px;    
}
.vacaciones-calendario div {
    padding: 0;
    margin: 0;
}

.vacaciones-total {
    font-size: 15px;
    font-weight: normal;
}
.vacaciones-total span {
    font-weight: bold;
}

*.month-container {
    padding: 0;
}
.months-container {
    overflow: hidden;
}