#detalles h1, h2, h3, h4, h5 h6 {
    margin: 1px;
}

.table-striped td, .table-striped th {
    white-space: nowrap;
}
.table-striped h2, .table-striped h3, .table-striped h4 {
    margin: 0;   
}

td.line {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 2px;    
}
td.line h6 {
    margin: 0;
}
.sep {
    width: 10px;
}

.table-header h1, .table-header h2, .table-header h3, .table-header h4, .table-header h5, .table-header h6 {
    margin: 0;
    padding: 0;
}

h3 {
    color: #006CB7;
}
.seccion {
    font-size: 16px;
}
.cell {
    text-transform: capitalize;
}

.nombre {
    color: #006CB7;
}

.cedula {
    color: #F58233;
}