/* 
    naranja:	#F58233 
    azul:	#006CB7
*/
.arc {
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color: #FFFFFF;
    font-size: 10px;
}
.arc table {
    width: 100%;
}
.arc table2 {
    border: 1px solid #666;
    padding: 5px;
}
.arc td {
    white-space: nowrap;
}
.arc .firma {
    width: 100px;
}
.arc .sello {
    width: 100px;
}
.arc .sub {
    /*
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 2px 2px #ccc;    
    */
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;      
    font-size: 14px;
    color: #006CB7;
}

.arc div {
    margin-bottom: 8px;
}

.seccion {
    font-size: 16px;
}
.arc .section {
    /*color: #666;    */
    color: #F58233;  
    margin-top: 3px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.arc .section span {   
    /*font-weight: bold;*/
    color: #006CB7;
}
.arc th {
    /*font-weight: normal;
    color: #006CB7;*/
}
.arc input {
    border: none;    
}
.right {
    text-align: right;
}
.center {
    text-align: center;
    line-height: 40px;
    vertical-align: middle; 
}

.left {
    text-align: left;
}

.input {
    /*background-color: #FFFFe0;*/
    background-color: #FFFFBB;
}

.arc .disabled {
    background-color: #e5e5e5;    
}
.large {
    width: 100%;
}
.total {
    color: #006CB7;
    font-weight: normal;
}

.total-final, th.total-final {
    font-weight: bold;    
    font-size: 18px;
    text-align: center;   
    background-color: #ffcccc;
    color: #990000;      
}
.arc .ut {
    color: #538135;
    background-color: #E2EFD9;
}
.normal {
    color: #000;
}
.arc .separador {
    border-top: 1px dashed #ccc;
    margin-top: 3px;
    margin: 3px;
}
.arc .tarcfa {
    color:  #3573fa;
    background-color: #CFDFFF;
}
.arc .hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
}
.arc .checkbox {
    width: 20px;
    height: 20px;    
}
.arc input {
    float: right;
}
.arc td {
    padding: 2px;
}
.arc .linenumber {
    width: 10px;
    text-align: center;
}
.arc .alert {
    color: #990000;
}
.arc li {
    margin-bottom: 5px;
}
.arc .info {
    font-size: 12px;
}

.arc .unit {
    float: left;
}
.arc input {
    float: right;
}
.nombre {
    color: #006CB7;
}
.cedula {
    color: #F58233;
}
.fecha {
    color: #999;
    text-align: center;
}
.sep {
    width: 5px;
}
.arc .title {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;   
    color: #666; 
    text-align: center;
}
.arc .title2 {
    font-size: 10px;
    margin: 0;
    margin-bottom: 5px;   
    color: #999;    
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.arc .periodo {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.table-header h6 {
    margin: 0;
}
.h6 {
    margin: 0;
}
.arc .table {
    font-size: 10px;
    white-space: nowrap;
    margin-top: 15px;
}
.table th {
    font-weight: normal;
}
.arc .fondoblanco{
    background-color: #FFFFFF;
}

#imprimir {
    font-size: 11px;
    margin-top: 20px;
}