#events  {
    width: 200px;    
    margin-left: 20px;
    margin-bottom: 20px;
}

#events div {
    border-bottom: 1px dashed #ccc;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    white-space: nowrap;
    height: 50px;
    overflow:  hidden;
}
#events b {
    font-weight: normal;
    color: #428bca;
}
#events span {
    display: block;    
    color: #999;
    font-size: 10px;
    margin-left: 15px;
}

