/* 
    naranja:	#F58233 
    azul:	#006CB7
*/
.ari {
    margin: 40px 0px 40px 0px;
}
.ari table {
    width: 100%;
}
.ari td, .ari th {
    white-space: nowrap;
}
.ari .logo {
    width: 150px;
}

.ari .sub {
    /*
    border-radius: 5px;
    border: 1px solid #333;
    box-shadow: 2px 2px #ccc;    
    */
    padding: 2px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;      
    font-size: 14px;
    color: #006CB7;
}

.ari div {
    margin-bottom: 20px;
}

.ari .section {
    /*color: #666;    */
    color: #F58233;  
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.ari .section span {   
    /*font-weight: bold;*/
    color: #006CB7;
}
.ari th {
    font-weight: normal;
    color: #006CB7;
}
.ari input {
    border: none;    
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.input {
    /*background-color: #FFFFe0;*/
    background-color: #FFFFBB;
}
.inputfam {
    /*background-color: #FFFFe0;*/
    background-color: #e5d2f7;
}

.ari .disabled {
    background-color: #e5e5e5;    
}
.large {
    width: 100%;
}
.total {
    color: #006CB7;
    font-weight: normal;
}

.total-final, th.total-final {
    font-weight: bold;    
    font-size: 18px;
    text-align: center;   
    background-color: #ffcccc;
    color: #990000;      
}
.ari .ut {
    color: #538135;
    background-color: #E2EFD9;
}
.normal {
    color: #000;
}
.ari .separador {
    border-top: 1px dashed #ccc;
    margin-top: 30px;
}
.ari .tarifa {
    color:  #3573fa;
    background-color: #CFDFFF;
}
.ari .hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    text-align: center;
    margin: 0 auto;
}
.ari .checkbox {
    width: 20px;
    height: 20px;    
}
.ari input {
    float: right;
}
.ari td {
    padding: 5px;
}
.ari .linenumber {
    width: 10px;
    text-align: center;
}
.ari .alert {
    color: #990000;
}
.ari li {
    margin-bottom: 5px;
}
.ari .info {
    font-size: 12px;
}

.ari .unit {
    float: left;
}
.ari input {
    float: right;
}
.ari label {
    font-size: 12px;
}
.warning {
    color: #F58233;
}