/* 
    naranja:	#F58233 
    azul:	#006CB7             
*/

html * {
    font-family: "Century Gothic", "Arial";    
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;    
    background: none;
    background: url(../../img/wallpapers/wallpaper.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
div.content-wrapper {	
    position: absolute;
    top: 60px;
    left: 50%;
    padding: 15px;
    background-color: white;
    -ms-transform: translateX(-50%) translateY(0%);
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);    
    padding: 60px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    margin-bottom: 60px; 
}

h1 {
    background-image: url('../../img/logo-mini.jpg');    
    /*background-image: url('/img/logo3.png');*/
    background-position: middle center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    line-height: 40px;
    padding-left: 35px;	
    margin-bottom: 10px;
    color: #006CB7;  
    cursor: pointer;
    font-size: 23px;
}
h1 b {
    font-weight: normal;
    color: #999;
}
h1 span {
    color: #F58233;
}

h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #666;      
}

h2 span {    
    color: #F58233;
}
h3 {
    margin: 0;      
    font-size: 14px;    
}
h3 b, h3 a {  
    font-weight: normal;    
    color: #006CB7;
}
h4 {
    font-size: 13px;
    margin: 0;
    margin-bottom: 10px;
    color: #F58233;
}
h5 {
    color: #006CB7;
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #cccccc;
    margin-top: 30px; 
}

h6 {
    color: #777;
}
footer {
    text-align: left;
    color: #999999;
    font-size: 12px;
    margin-top: 10px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}
form div {
    margin-bottom: 10px;
}
html a.logut {
    color: #666;
}
#message {
    color: #cc3300;
    margin-bottom: 10px;        
}
.menu div {
    margin-bottom: 5px;
    font-size: 12px;    
}
#content {
    min-width: 300px;
    margin-left: 20px;
}

.login #content {
    margin-left: 0px;
}

.menu-content {
    font-size: 12px;
}
.menu-content div {
    margin-bottom: 10px;
}
.menu-container {
    border-left: 1px dashed #666666;
    padding-left: 10px;    
}
.btn-back {
    font-size: 12px;
}
.list {
    border: 1px solid #006CB7;
    margin-top: 10px;
    margin-bottom:  10px;
    text-transform: uppercase;
    font-size: 12px;
    width: 100%;
}
.list th {
    white-space: nowrap;
    color: white;
    background: #006CB7;
    font-weight: normal;
    padding: 5px;
}
.list td {
    white-space: nowrap;    
    padding: 5px;
}
.list tr:nth-child(odd) {
    /*background: #bbccdd*/;
    background: #E6F4FF;
}
.list tr:hover {
    background: #FFCC00;
}
.params {
    margin-top: 10px;
    margin-bottom: 10px;
}
#loading {
    margin-top: 20px;
    margin-bottom: 20px;
}
#result-message {
    font-size: 18px;
    margin: 20px;
}
.total-label {
    margin-top: 20px;
    margin-bottom: 20px;
}
.total {
    font-weight: bold;
}
.no-data {
    margin: 20px 0px 20px 0px;
}
.hidden {
    display: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.placeholder {
    color: #ccc;
}


.submenu {
    margin-left: 10px;
}

.listdata td, .listdata th {
    white-space:  nowrap;
}

.listdata table input {
    border: none;
}

.listdata table select {
    border: none;
    width: 130px;
}

.listdata table, .table {
    border: 1px solid #ddd;
    margin-top: 20px;
}
.listdata .table-header input {
    font-weight: bold;
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}

.cell-border {
    border: 1px solid #ddd;
    padding: 5px;    
}

.table-filter {
    width: 300px;
}

.hidden-control {
    visibility: hidden;
    position: absolute;
}

.ui-tooltip * {
    font-size: 12px;
    white-space: pre;
}
.text-disabled {
    color: #ccc;
}
.month-title {
    font-weight: normal;
    color: #000;
}
.day-header {
    font-weight: normal;
    color: #666;
}
a { 
    color: #006CB7;
}
.table {
    background: white;
}
.subtitle {
    font-size: 20px;
}
.info {
    font-size: 11px;
    color: #666;
    text-align: justify;
}
.tiempo-sesion {
    font-size: 11px;
    color: #999;    
}
#reloj {
    color: #F58233;
}