/* 
    naranja:	#F58233 
    azul:	#000000
*/

h1 {
    font-size: 20px;
    padding: 20px 0px 10px 0px;  
    color: #000000;
}
h1 b {
    font-size: 34px;
    color: #000000;
}
h2 {
    font-size: 18px;
    margin: 0;   
    color: #000000;   
    padding: 0px;
}
h3 {
    font-size: 10px;
    margin: 0;    
    color: #000000;
    padding: 0px;
}
h4 {
    font-size: 12px;
    margin: 0;
    color: #000000;
    padding: 0px;
}
h5 {
   font-size: 14px;  
   padding: 0px;
   margin: 0;
}
h6 {
    margin: 0;
    font-size: 10px;
    padding: 0px;
    color: #333333;
}
td {
    font-size: 10px;
    padding: 5px;
    margin: 0px 0px 0px 0px;    
}
th {
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    background: #000000;
    color: white;       
    margin: 0px 0px 0px 0px;
}
.line {
    color: #999999;
}

.cell {
   padding: 5px;
   text-transform:  capitalize;
}
span {
    font-size: 12px;
}
.seccion {
    font-size: 16px;
}
.separador1 {
    padding: 20px;
}
.separador2 {
    padding: 10px;
}
.separador3 {
    padding: 40px;
}
.table-header {
    border: 1px solid #999999;
    padding: 5px;
}
.table {
    border: 1px solid #999999;
    padding: 5px;
}