#birthday  {
    width: 200px;    
    margin-left: 20px;
}
.cumpleanos #birthdays {
    font-size: 11px;
}

.cumpleanos #birthdays div {
    float: left;
    width: 130px;
}

#birthdays-days {
    font-size: 11px;
    display: block;
    clear: both;
    padding-top: 40px;
}

#birthdays-days a {
    display: block;
    text-transform: capitalize;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}

#birthdays-days a.regresar {
    border: none;
    margin-top: 15px;
}

.birthday-content li {
    font-size: 11px;
    color: #006CB7;
    list-style: none;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    text-transform: capitalize;
}

.birthday-content h4 {
    margin: 10px 0px 10px 0px;
}

.birthday-date {        
    padding: 2px;
    color: #006CB7;
}
.birthday-date.selected {
    color: #F58233;
}

.birthday-all {
    font-size: 11px;
}