iframe {
    border: 0;
    overflow: hidden;
}
th {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.params {
    min-width: 500px;
}

#txtdetalleEsp {
    text-transform: uppercase;
}