.saldo_disponible {
    color: #F58233;    
}

th {
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;    
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.tip {
    display: block;
    color: #333;
    font-size: 10px;
    font-weight: normal;
}
.info {
    font-size: 16px;
    margin-top: 10px;
}
h2 {
    text-transform: capitalize;
}